@font-face {
    font-family: 'Circe-Bold';
    src: url('./font/Circe-ExtraBold.woff');
}

@font-face {
    font-family: 'Circe';
    src: url('./font/Circe-Regular');
    src: url('./font/Circe-Regular?#iefix') format('embedded-opentype'),
        url('./font/Circe-Regular.woff') format('woff'),
        url('./font/Circe-Regular.ttf') format('truetype'),
        url('./font/Circe-Regular.svg#Circe') format('svg');
    font-style: normal;
    font-weight: normal;
}

*:not(.no-transition) {
    transition: all 0.3s ease-out;
}

.fs {
    width: 100vw;
    height: 100vh;
    display: flex;
    min-height: 900px;
    position: relative;
    overflow: hidden;
}

.front {
    display: flex;
    width: 100%;
}

.fs__title {
    margin: auto;
    width: fit-content;
    font-size: 48px;
    font-weight: 400;
    position: relative;
}

.fs__title:after,
.fs__title:before {
    content: '';
    width: 330px;
    position: absolute;
    top: 50%;
    left: calc(100% + 30px);
    border-top: 3px solid #e6ae48;
}

.fs__title:after {
    left: auto;
    right: calc(100% + 30px);
}

.filter {
    min-height: 900px;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 13, 51, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 13, 51, 0.2));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 13, 51, 0.2));
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04042f;
    z-index: -1;
}

.fs__bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
}

.fs__bottom-bar-item {
    opacity: 0.85;
    line-height: 1.15;
}

.fs__bottom-bar>.container>.row>.col-12:nth-child(3) .fs__bottom-bar-item {
    opacity: 1;
}

.fs-icon {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

/*========================= S2 */
.s2 {
    padding: 60px 0;
    min-height: 900px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.s2 .bo-title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.s2 .bo-title span {
    font-size: 1.8rem;
    display: block;
    font-weight: 700;
    font-family: Circe-Bold;
}

.s2-notice {
    font-size: 1.3rem;
    text-align: center;
    margin: 50px 0;
}

.s2 p {
    font-size: 1.4rem;
}

.s2-img-wrapper {
    height: 100%;
    display: flex;
}

.s2-img {
    margin: auto;
    display: block;
    width: 420px;
    position: relative;
}

.s2-img img {
    width: 100%;
}

.points {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.point {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: red;
}

.point:nth-child(1) {
    top: 312px;
    left: 240px;
}

.point:nth-child(2) {
    top: 218px;
    left: 334px;
}

.point:nth-child(3) {
    top: 165px;
    left: 180px;
}

.point:nth-child(4) {
    top: 65px;
    left: 212px;
}

/*================================ S3 */
.s3 {
    min-height: 900px;
    padding: 80px 0;
}

.s3 .bo-title {
    font-size: 2.5rem;
    text-align: center;
    font-family: Circe-Bold;
    margin-bottom: 60px;
}

.s3 .bo-title span {
    font-family: Circe;
    color: #e6ae48;
    display: block;
}

.s3__item {
    margin-bottom: 3rem;
}

.s3__item .img {
    width: 260px;
    height: 260px;
    background-color: #ccc;
    margin: auto;
}

.s3__item .title {
    margin: 15px 0;
    font-family: Circe-Bold;
    text-transform: uppercase;
    font-size: 20px;
}

.s3__item .title span {
    font-family: Circe;
}

.s3 .neon-btn--dark {
    margin: 80px auto;
    display: block;
    width: fit-content;
}

/* ==================== S4 */
.s4 {
    background-color: #1c2452;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4 .bo-title {
    font-size: 35px;
    font-family: Circe-Bold;
    margin-bottom: 30px;
}

.s4 p {
    font-size: 24px;
    margin: 15px;
}

.porto-img-wrapper {
    padding-top: 75%;
    background-size: cover;
    background-position: center;
}

/*================================ UTILITES */
body {
    padding: 0;
    margin: 0;
    font-family: Circe;
}

section {
    max-width: 100%;
    min-height: 100vh;
    height: auto;
}

img {
    max-width: 100%;
}

section>.container {
    margin: auto;
}

.tac {
    text-align: center;
}

.tt-uppercase {
    text-transform: uppercase;
}

.fw7 {
    font-weight: 700;
}

.white {
    color: #fff;
}

.text-shadow {
    text-shadow: 1px 1px 1px #fff,
        -1px 1px 1px #fff;
}

.main-color {
    color: #e6ae48;
}

.bo-title--bold {
    font-family: Circe-Bold;
}

/* ======================== FAQ */
.faq {
    padding: 80px 0;
}

.faq .item {
    border-bottom: 1px solid #ddd;
}

#faq .header {
    font-size: 1.5rem;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
}

#faq .header:after {
    content: '+';
    position: absolute;
    right: 10px;
    top: 13px;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
    font-size: 3.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    transition: all 0.3s;
    color: #ccc;
}

#faq .header:hover:after {
    background-color: #e6ae48;
    color: #777;
}

#faq .content {
    padding: 15px;
    display: none;
}

#faq .item.open .header:after {
    transform: rotate(45deg);
}

/* ========================== s6 */
.s6 {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 900px;
}

.s6 .bo-title {
    font-size: 36px;
    font-family: Circe-Bold;
}

.s6 p {
    margin-bottom: 80px;
}

/*========================= animation */
.animate-text {
    animation: shadow-pulse 4s ease-in-out infinite;
    animation-delay: 0;
    opacity: 0.5;
}

.animate-text:nth-child(2) {
    animation-delay: 1.5s;
}

.animate-text:nth-child(3) {
    animation-delay: 3s;
}

@keyframes shadow-pulse {
    0% {
        filter: drop-shadow(0px 0px 0px #ddd);
        opacity: 0.5;
    }

    50% {
        filter: drop-shadow(0px 0px 3px #ddd);
        opacity: 1;
    }

    100% {
        filter: drop-shadow(0px 0px 0px #ddd);
        opacity: 0.5;
    }
}

/*================================= NEON BTN */
.neon-btn,
.neon-btn--dark {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #e6ae48;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    border: 1px solid;
    transition: 0.2s;
    text-align: center;
}

.neon-btn:hover,
.neon-btn--dark:hover {
    color: #fff;
    background: #e6ae48;
    box-shadow: 0 0 10px #e6ae48,
        0 0 40px #e6ae48,
        0 0 80px #e6ae48;
    transition-delay: 1s;
    text-decoration: none;
}

.neon-btn span,
.neon-btn--dark span {
    position: absolute;
    display: block;
}

.neon-btn span:nth-child(1),
.neon-btn--dark span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
}

.neon-btn:hover span:nth-child(1),
.neon-btn--dark:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.neon-btn span:nth-child(3),
.neon-btn--dark span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
}

.neon-btn:hover span:nth-child(3),
.neon-btn--dark:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.neon-btn span:nth-child(2),
.neon-btn--dark span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
}

.neon-btn:hover span:nth-child(2),
.neon-btn--dark:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.neon-btn span:nth-child(4),
.neon-btn--dark span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
}

.neon-btn:hover span:nth-child(4),
.neon-btn--dark:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.neon-btn--dark:hover {
    background-color: #e6ae48;
    transition-delay: 0s;
}

/* ===================================
            RESPONSE
======================================*/
@media screen and (max-width: 768px) {
    .fs__bottom-bar>.container-fluid>.row>.col-12 {
        order: 2;
    }

    .fs__bottom-bar>.container-fluid>.row>.col-12:nth-child(3) {
        order: 3;
    }

    .fs__bottom-bar {
        position: inherit;
    }

    .fs__bottom-bar-item {
        margin: 30px 0;
    }

    .filter {
        height: auto;
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {
    section {
        height: auto !important;
    }

    .fs {
        padding-top: 50px;
        height: auto;
    }

    .front {
        display: flex;
        flex-direction: column;
    }

    .fs__bottom-bar {
        position: inherit;
    }

    .fs__bottom-bar-item {
        margin: 30px 0;
    }

    .fs__title {
        font-size: 36px;
    }

    .fs__bottom-bar>.container-fluid>.row>.col-12 {
        order: 2;
    }

    .fs__bottom-bar>.container-fluid>.row>.col-12:nth-child(3) {
        order: 1;
    }

    .point:nth-child(1) {
        top: 254px;
        left: 198px;
    }

    .point:nth-child(2) {
        top: 176px;
        left: 271px;
    }

    .point:nth-child(3) {
        top: 125px;
        left: 139px;
    }

    .point:nth-child(4) {
        top: 50px;
        left: 177px;
    }
}